{{template "base" .}}
{{define "content"}}
<h2> About me </h2>
<p> I'm 22 year old software developer and student who is very enthusiastic about computers and software in general. My favourite things are system administration and playing with different kinds of network things, web backend developing and configuring my Linux machines.</p>

<p>I also like to play retro games and watch movies. My favourite music is jazz.</p>
<p> Feel free to contact me! </p>
<ul>
<li> Email: e.i.korte@gmail.com </li>
<li> Github: <a href=https://github.com/eikrt/> link </a> </li>
<li> Email: e.i.korte@gmail.com </li>
</ul>
{{end}}
