{{template "base" .}}
{{define "content"}}
<h2> Projects </h2>

<p> Tour of my programs.</p>
<div class="blog_entry">
        <h3> Mechaball </h3>
        <a href="https://github.com/eikrt/mechaball"> Github link </a>
        <p> If you haven't played Breakout or it's huge offspring, you have missed a slice of history. Breakout has numerous follow-ups, Arkanoid being the most famous of them. My favourite iteration of the concept is DX-Ball</p>
        <img src="res/mechaball_screenshot1.png"></img>
        <p> My take on "ball and paddle" genre is Mechaball. Mechaball is written in Python and uses the <a href="https://www.ibm.com/docs/en/aix/7.1?topic=concepts-curses-library"> curses </a> library. The program is pretty simple, but needs some elegance here and there. Ball reflection mechanic is also pretty dull.</p>
        <p>You can clone the repository or <code> ssh mechaball@eikrt.com </code>. Hope you enjoy my little game!</p>
</div>

<p> Upcoming: World Generation</p>
<p> Upcoming: Configurations</p>

{{end}}
