{{template "base" .}}
{{define "content"}}
<h2> Projects </h2>

<p> Tour of my programs.</p>
<div class="blog_entry">
        <h3> Mechaball </h3>
        <a href="https://github.com/eikrt/mechaball"> Github link </a>
        <p> If you haven't played Breakout or it's huge offspring, you have missed a slice of history. Breakout has numerous follow-ups, Arkanoid being the most famous of them. My favourite iteration of the concept is DX-Ball</p>
        <img src="res/mechaball_screenshot1.png"></img>
        <p> My take on "ball and paddle" genre is Mechaball. Mechaball is written in Python and uses the <a href="https://www.ibm.com/docs/en/aix/7.1?topic=concepts-curses-library"> curses </a> library. The program is pretty simple, but needs some elegance here and there. Ball reflection mechanic is also pretty dull.</p>
        <p>You can clone the repository or <code> ssh mechaball@eikrt.com </code>. Hope you enjoy my little game!</p>
</div>
<div class = "blog_entry">
        <h3> Heartlands </h3>

            <a href="https:/github.com/eikrt/heartlands"> Github link </a>
            <br>
            <a href="https://eikrt.com/heartlands"> App link </a>
            <p> For a long time I have wanted to create a world generation software. I have always enjoyed games like <b>Dwarf Fortress</b> or <b>Minecraft</b> where events take place on a procedurally generated world. </p>
            <p> My world generation currently has height map created with <a href='https://en.wikipedia.org/wiki/Perlin_noise'> perlin noise </a>. Currently there are no more features.</p>
            <p> The project is intended to be modular, so each part can be modified independently. Someday I will create different choices of frontends, maybe C/C++ with Qt or something with curses. Mobile app would also be a fun project.</p> 
</div>
<div class = "blog_entry">
        <h3> Upcoming: Configurations</h3>
</div>
{{end}}
