{{template "base" .}}
{{define "content"}}
<h2> Reviews </h2>

<div class="blog_entry">
<p> Here's reviews for video games!</p>
<p> -------------------------------------------------------</p>
<h3> Super Mario 64</h3>
<p>In 1996 there was room for 3d platformer done right. Being a 3D -platformer was a merit on its own, but Super Mario 64 really overachieved its expectations.
</p> <p> Super Mario 64 is a great fun but it doesn't come without flaws. Super Mario 64 is known to cause intense monkey-like tantrums. It's horrible camera angles and clunky character movements can irritate the player, but it doesn't ruin the experience. The player just needs some sense of humor. Sometimes the stars are also achieved in a very cryptic way, and figuring the way to get them by yourself is nearly impossible. </p> <p> All in all Super Mario 64 is fun game but not a perfect one. It depends greatly on your attitude and preferences if this is the game for you. </p>
<p> 4/5</p>
<p> -------------------------------------------------------</p>
</div>

{{end}}
